<div class="big-logo-div">
    <h1 class="page-heading" data-aos="fade-down">ABOUT</h1>
</div>
<br>
<div class="container">
    <div class="card custom-border-radius" data-aos="fade">
        <div class="card-body">
            <div class="row">
                <div class="col">
					<div class="demo-square-tall shaastra-main-img" data-aos="fade-down"></div><br>
					<div data-aos="fade-up">
						<h5 class="card-title title2">
		                        SHAASTRA
		                </h5>
		                <p class="card-text text">
		                    Shaastra is the annual technical fest of IIT Madras. It is the largest student-run technical fest in India. It is the first event of its kind to be awarded ISO certification (ISO 9001:2000). Through its diverse events, workshops, professional shows, exhibitions,
		                    lectures and competitions, Shaastra thrives to give its participants a memorable experience. It thus serves as a platform for young minds from across the nation to expand their techno-innovation skills and create an impact in society.
		                </p>
					</div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="card custom-border-radius" data-aos="fade">
        <div class="card-body">
            <div class="row">
				<div class="col">
					<div class="demo-square-tall summit-main-img" data-aos="fade-down"></div><br>
					<div data-aos="fade-up">
						<h5 class="card-title title2">
	                        SUMMIT
	                    </h5>
	                    <p class="card-text text">
	                        The Summit, a flagship event of Shaastra, serves as a platform where participants can learn and network. Through its lectures, workshops and panel discussions, the Summit aims to provide its participants, with a wholesome experience. The 4 day conference
	                        is a journey where they get to interact with the best minds in the field to get valuable advice, and also their peers to share ideas. Every year, Shaastra Summit ventures into different tech fields to cater to participants with
	                        varied interests. After a successful Makers Summit(2016), Accessibility Summit(2017) and Green Energy Summit(2018), Shaastra presents to you, the
	                        <b>SportsTech Summit</b>.
	                    </p>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
