<div class="big-logo-div">
	<h1 class="page-heading" data-aos="fade-down">CONTACT</h1>
</div>
<br>
<div class="container">
	<center>
		<div class="card custom-border-radius" data-aos="fade">
			<div class="card-body">
				<h1 class="subtitle" data-aos="fade-down">
					Interested? Send a mail to
				</h1>
				<center data-aos="fade-down">
					<a class="news-text" href="mailto:summitregistrations@shaastra.org">
						<h2>summitregistrations@shaastra.org</h2>
					</a>
				</center>
			</div>
		</div>
	</center>
	<br>
	<div class="row" data-aos="fade">
		<div class="col-lg-4 col-md-6">
			<div class="card custom-border-radius">
				<div class="card-body">
					<div class="demo-square-short contact-img1" data-aos="fade-down"></div>
					<br>
					<div data-aos="fade-up">
						<h5 class="card-title subtitle">SANJEEV</h5>
						<h5 class="card-subtitle">ORGANISER</h5>
						<h4 class="card-text text tx-purple">+91 99403 36837</h4>
					</div>
				</div>
			</div><br>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="card custom-border-radius">
				<div class="card-body">
					<div class="demo-square-short contact-img2" data-aos="fade-down"></div>
					<br>
					<div data-aos="fade-up">
						<h5 class="card-title subtitle">SIDDHARTH</h5>
						<h5 class="card-subtitle">ORGANISER</h5>
						<h4 class="card-text text tx-purple">+91 73820 11565</h4>
					</div>
				</div>
			</div><br>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="card custom-border-radius">
				<div class="card-body">
					<div class="demo-square-short contact-img3" data-aos="fade-down"></div>
					<br>
					<div data-aos="fade-up">
						<h5 class="card-title subtitle">VARUN</h5>
						<h5 class="card-subtitle">ORGANISER</h5>
						<h4 class="card-text text tx-purple">+91 80722 95040</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>
