<div class="big-logo-div">
	<h1 class="page-heading" data-aos="fade-down">CONTACT</h1>
</div>
<br>
<div class="container">
	<div class="card-deck" data-aos="fade">
		<div class="card custom-border-radius">
			<div class="card-body">
				<div class="demo-square-short contact-img1" data-aos="fade-down"></div>
				<br>
				<div data-aos="fade-up">
					<h5 class="card-title subtitle">SANJEEV</h5>
					<h3 class="card-subtitle tx-purple">+91 99403 36837</h3>
				</div>
			</div>
		</div>

		<div class="card custom-border-radius">
			<div class="card-body">
				<div class="demo-square-short contact-img2" data-aos="fade-down"></div>
				<br>
				<div data-aos="fade-up">
					<h5 class="card-title subtitle">SIDDHARTH</h5>
					<h3 class="card-subtitle tx-purple">+91 73820 11565</h3>
				</div>
			</div>
		</div>

		<div class="card custom-border-radius">
			<div class="card-body">
				<div class="demo-square-short contact-img3" data-aos="fade-down"></div>
				<br>
				<div data-aos="fade-up">
					<h5 class="card-title subtitle">VARUN</h5>
					<h3 class="card-subtitle tx-purple">+91 80722 95040</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>
