<div class="big-logo-div">
	<h1 class="page-heading" data-aos="fade-down">PAST EDITIONS</h1>
</div>
<br>
<div class="container">
	<div class="row">
		<!-- <div class="col-lg-4 d-none d-lg-block number-col">
			<div class="card custom-border-radius">
				<div class="card-body">
					<center>
						<h2 class="card-title tx-green subtitle">REGISTRATIONS</h2>
						<h1 class="page-heading tx-purple">145</h1>
					</center>
				</div>
			</div>
			<br>
			<div class="card custom-border-radius">
				<div class="card-body">
					<center>
						<h2 class="card-title tx-green subtitle">REGISTRATIONS</h2>
						<h1 class="page-heading tx-purple">145</h1>
					</center>
				</div>
			</div>
			<br>
			<div class="card custom-border-radius">
				<div class="card-body">
					<center>
						<h2 class="card-title tx-green subtitle">REGISTRATIONS</h2>
						<h1 class="page-heading tx-purple">145</h1>
					</center>
				</div>
			</div>
		</div> -->
		<div class="edition-col">
			<div class="card custom-border-radius" data-aos="fade">
				<div class="card-body">
					<div class="row">
						<div class="col">
							<div class="demo-square-short" data-aos="fade-down"></div>
							<br>
							<div data-aos="fade-up">
								<h1 class="title2">MAKER'S SUMMIT(2016)</h1>
								<p class="text">
									Based on the worldwide trend of the Maker’s Movement, the Maker’s Summit extended this to the students to give
									them a platform for the same. The 4-day event which consisted of various keynote lectures, workshops, competitions,
									panel discussions and personal mentoring sessions from the experts in the maker’s culture, also included the
									‘Make-a-thon’- an innovation competition which gave the 40 participants an experience of what it means to be
									a Maker innovating on tracks like Transmedia Storytelling, Life Hacks and Make-a-difference.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="card custom-border-radius" data-aos="fade">
				<div class="card-body">
					<div class="row">
						<div class="col">
							<div class="demo-square-short" data-aos="fade-down"></div>
							<br>
							<div data-aos="fade-up">
								<h1 class="title2">ACCESSIBILITY SUMMIT(2017)</h1>
								<p class="text">
									With the intention of making India more accessible, the Accessibility Summit focussed aspects of accessibility
									like accessitive technology, policy measures for empowerment and social inclusion- giving its participants an
									opportunity to seek advice from experts of healthcare, education, business policy and technology sectors. The
									event included a Case-study and Social-Entrepreneurship Competition. The Accessibility Summit also hosted the
									first ever ‘Hackathon for the Visually Impaired’. With the motive to empower the visually impaired by giving
									them a chance to showcase their skills, the Accessibility Summit in collaboration with Vision-Aid, taught computer
									programming to 32 participants from all over India. They were also trained by professors from MIT and UC Berkeley
									during the process.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="card custom-border-radius" data-aos="fade">
				<div class="card-body">
					<div class="row">
						<div class="col">
							<div class="demo-square-short" data-aos="fade-down"></div>
							<br>
							<div data-aos="fade-up">
								<h1 class="title2">GREEN ENERGY SUMMIT(2018)</h1>
								<p class="text">
									India is on the brink of an energy transformation. At the Green Energy Summit, the team set out to try and find
									ways to lift millions of citizens out of energy poverty, empowering motivated students to make a change in the
									energy sector. Through its lectures, hands-on workshops, panel discussions and competitions, the Summit covered
									topics such as Innovation in Green Technology, Energy Politics and Startups and Developments in Green Energy.
									More than 70 chosen participants from all over India attended the Summit. The Startup Talks invited startup executives
									and many young college students who aspired to make a difference in the field of green energy. There was also
									an open to all panel discussion on ‘Impact of Climate Change Policies on the Poor’.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<br>
		</div>
	</div>
</div>

<div class="big-logo-div">
	<h1 class="page-heading" data-aos="fade-down">NEWSROOM</h1>
</div>
<br>
<div class="container">
	<div class="card-deck" data-aos="fade">
		<div class="card custom-border-radius">
			<div class="card-body">
				<div class="demo-square-short" data-aos="fade-down"></div>
				<br>
				<div data-aos="fade-up">
					<h5 class="card-title subtitle">Card title</h5>
				</div>
			</div>
		</div>

		<div class="card custom-border-radius">
			<div class="card-body">
				<div class="demo-square-short" data-aos="fade-down"></div>
				<br>
				<div data-aos="fade-up">
					<h5 class="card-title subtitle">Card title</h5>
				</div>
			</div>
		</div>

		<div class="card custom-border-radius">
			<div class="card-body">
				<div class="demo-square-short" data-aos="fade-down"></div>
				<br>
				<div data-aos="fade-up">
					<h5 class="card-title subtitle">Card title</h5>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="card-deck" data-aos="fade">
		<div class="card custom-border-radius">
			<div class="card-body">
				<div class="demo-square-short" data-aos="fade-down"></div>
				<br>
				<div data-aos="fade-up">
					<h5 class="card-title subtitle">Card title</h5>
				</div>
			</div>
		</div>

		<div class="card custom-border-radius">
			<div class="card-body">
				<div class="demo-square-short" data-aos="fade-down"></div>
				<br>
				<div data-aos="fade-up">
					<h5 class="card-title subtitle">Card title</h5>
				</div>
			</div>
		</div>

		<div class="card custom-border-radius">
			<div class="card-body">
				<div class="demo-square-short" data-aos="fade-down"></div>
				<br>
				<div data-aos="fade-up">
					<h5 class="card-title subtitle">Card title</h5>
				</div>
			</div>
		</div>
	</div>
</div>
