<div class="footer nav-head">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<img src="../img/shaastra.png" class="big-logo">
				<img src="../img/summit2.png" class="big-logo">
			</div>
			<div class="col-md-4 tx-green footer-info">
				<h5 class="footer-text">Indian Institute of Tehnology Madras<br>Adyar, Chennai - 600036</h5>
				<div>For more info, visit</div>
				<h5 class="footer-text">www.shaastra.org</h5>
			</div>
			<div class="col-md-3 tx-green footer-info">
				<div class="row social">
					<a href="https://www.facebook.com/Shaastra" target="_blank">
						<span class="fab fa-facebook"></span>
						@Shaastra
					</a>
				</div>
				<div class="row social">
					<a href="https://www.twitter.com/ShaastraIITM" target="_blank">
						<span class="fab fa-twitter"></span>
						@ShaastraIITM
					</a>
				</div>
				<div class="row social">
					<a href="https://www.instagram.com/shaastra_iitm" target="_blank">
						<span class="fab fa-instagram"></span>
						@shaastra_iitm
					</a>
				</div>
				<div class="row social">
					<a href="https://www.linkedin.com/company/shaastra-iit-madras" target="_blank">
						<span class="fab fa-linkedin"></span>
						@shaastra-iit-madras
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
