<!-- Navbar for viewport > sm -->

<nav class="navbar navbar-expand-lg nav-head">
	<div class="container">
		<div class="d-lg-none">
			<button class="navbar-toggler" type="button" onClick="toggleSideBar();">
				<span class="fas fa-bars"></span>
			</button>
		</div>
		<div class="navbar-brand">
			<img src="../img/summit2.png" class="small-logo" alt="SMALL LOGO">
		</div>

		<div class="d-none d-lg-block">
			<ul class="navbar-nav float-right">
				<li class="nav-item lg-nav-item" onClick="goTo('home');">
					<a href="#" class="nav-link">home</a>
				</li>
				<li class="nav-item lg-nav-item" onClick="goTo('about');">
					<a href="#" class="nav-link">about</a>
				</li>
				<li class="nav-item lg-nav-item" onClick="goTo('editions');">
					<a href="" class="nav-link">past editions</a>
				</li>
				<li class="nav-item lg-nav-item" onClick="goTo('summit');">
					<a href="#" class="nav-link">the summit</a>
				</li>
				<li class="nav-item lg-nav-item" onClick="goTo('registrations');">
					<a href="#" class="nav-link">regsitrations</a>
				</li>
				<li class="nav-item lg-nav-item" onClick="goTo('contact');">
					<a href="#" class="nav-link">contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- Navbar and SideBar for viewport < sm -->
<nav id="sidebarNav" class="d-none">
	<ul class="nav flex-column nav-pills " role="tablist " aria-orientation="vertical ">
		<li class="nav-item sm-nav-item" data-toggle="pill" role="tab" aria-selected="true">
			<a href="# " ui-sref="home " class="nav-link" onclick="toggleSideBar(); goTo('home');">home</a>
		</li>
		<li class="nav-item sm-nav-item" data-toggle="pill" role="tab" aria-selected="false">
			<a href="#" ui-sref="about" class="nav-link" onclick="toggleSideBar(); goTo('about');">about</a>
		</li>
		<li class="nav-item sm-nav-item" data-toggle="pill" role="tab" aria-selected="false">
			<a href="" ui-sref="editions" class="nav-link" onclick="toggleSideBar(); goTo('editions');">past editions</a>
		</li>
		<li class="nav-item sm-nav-item" data-toggle="pill" role="tab" aria-selected="false">
			<a href="" ui-sref="editions" class="nav-link" onclick="toggleSideBar(); goTo('summit');">the summit</a>
		</li>
		<li class="nav-item sm-nav-item" data-toggle="pill" role="tab" aria-selected="false">
			<a href="#" ui-sref="registrations" class="nav-link" onclick="toggleSideBar(); goTo('registrations');">registrations</a>
		</li>
		<li class="nav-item sm-nav-item" data-toggle="pill" role="tab" aria-selected="false">
			<a href="#" ui-sref="contact" class="nav-link" onclick="toggleSideBar(); goTo('contact');">contact</a>
		</li>
	</ul>
</nav>
