<div class="big-logo-div">
    <h1 class="page-heading animated fadeInUp">REGISTRATIONS</h1>
</div>
<br>
<div class="container">
    <div class="reg-div">
        <center>
            <h1 class="subtitle" data-aos="fade-down">
				Registrations for Summit 2019 shall open soon.
            	<br>
				To stay updated fill out the following form.
        	</h1>
        </center>
        <br>
		<div class="row">
			<div class="col-md-1"></div>
	        <div class="col-md-10">
	            <div class="card form-card custom-border-radius" data-aos="fade-down">
	                <div class="card-body">
	                    <form>
	                        <div class="form-group">
	                            <label for="Name" class="label">name</label>
	                            <input class="form-control" type="text" name="Name" placeholder="Enter your Full Name">
	                        </div>
	                        <div class="form-group">
	                            <label for="Email" class="label">email</label>
	                            <input class="form-control" type="email" name="Email" placeholder="Enter your email">
	                        </div>
	                        <div class="form-group">
	                            <label for="Phone" class="label">phone</label>
	                            <input class="form-control" type="tel" name="Phone" placeholder="Enter your 10 digit number">
	                        </div>
							<div class="form-check form-group">
								<div class="row">
									<div class="col-lg-2 col-md-3 col-sm-4 float-left">
										<input type="radio" class="form-check-input" name="apptype" id="student">
										<label class="form-check-label text">Student </label>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-4">
											<input type="radio" class="form-check-input" name="apptype" id="startup">
											<label class="form-check-label text">Startup </label>
									</div>
									<div class="col-lg-3 col-sm-4 col-md-3 float-right">
										<input type="radio" class="form-check-input" name="apptype" id="professiona;">
										<label class="form-check-label text">Professional </label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<button type="button" class="btn btn-block bg-green label" name="button">submit</button>
							</div>
	                    </form>
	                </div>
	            </div>
	        </div>
		</div>
    </div>
</div>
