<div class="big-logo-div">
    <h1 class="page-heading animated fadeInUp">REGISTER</h1>
</div>
<br>
<div class="container" ng-controller="mainCtrl as main">
    <div ng-if="!registrationsOpen">
        <center>
            <h1 class="subtitle" data-aos="fade-down">
                Registrations for Summit 2019 will open soon! <br>
                Enter your details to show your interest in the event!
                <br>
            </h1>
        </center>
    </div>
    <div class="reg-div">
        <center ng-if="registrationsOpen">
            <h1 class="subtitle" data-aos="fade-down">
                Registrations for Summit 2019 are open.
                <br>
            </h1>
            <h2 class="belowsubtitle" data-aos="fade-down">
                Selection for participation in the SportsTech Summit will be based on the entries to the questions
                below.
                <br>
                Registration Fee is Rs.1199
                <br>
                <br>
            </h2>
        </center>
        <button type="button" ng-if="!viewForm" class="btn btn-block bg-green label" ng-click="toggleForm()" name="button">View
            Form</button>
        <br>
        <div class="row" ng-if="viewForm">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card form-card custom-border-radius" data-aos="fade-down">
                    <div class="card-body">
                        <form name="form" ng-submit="submitForm(form)" novalidate>

                            <div class="form-group">
                                <label for="Name" class="label">Name</label>
                                <input class="form-control" type="text" ng-model="user.name" name="Name" placeholder="Enter your Full Name"
                                    required>
                                <p class="help-block" ng-show="form.Name.$error.required && submitted">
                                    A name is required
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="Email" class="label">Email</label>
                                <input class="form-control" type="email" ng-model="user.email" name="Email" placeholder="Enter your email"
                                    required>
                                <p class="help-block" ng-show="(!form.Email.$error.email && form.Email.$error.required) && submitted">
                                    An Email is required.
                                </p>
                                <p class="help-block" ng-show="(form.Email.$error.email && !form.Email.$error.required) && submitted">
                                    Doesn't look like a valid Email.
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="Phone" class="label">Phone</label>
                                <input class="form-control" type="number" ng-minlength="10" ng-maxlength="10" ng-model="user.phone"
                                    name="Phone" placeholder="Enter your mobile number" required>
                                <p class="help-block" ng-show="(form.Phone.$error.minlength || form.Phone.$error.maxlength) && submitted && !form.Phone.$error.required">
                                    Phone Number should have 10 digits.
                                </p>
                                <p class="help-block" ng-show="form.Phone.$error.required && submitted">
                                    Phone Number is required.
                                </p>
                            </div>

                            <label for="Occupation" class="label">Occupation</label>
                            <div class="form-check form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-4 float-left">
                                        <input type="radio" class="form-check-input" ng-model="user.apptype" value="student"
                                            name="apptype" id="student" required>
                                        <label class="form-check-label text">Student </label>
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-4">
                                        <input type="radio" class="form-check-input" ng-model="user.apptype" value="startup"
                                            name="apptype" id="startup" required>
                                        <label class="form-check-label text">Startup </label>
                                    </div>
                                    <div class="col-lg-3 col-sm-4 col-md-3 float-right">
                                        <input type="radio" class="form-check-input" ng-model="user.apptype" value="professional"
                                            name="apptype" id="professional;" required>
                                        <label class="form-check-label text">Professional </label>
                                    </div>
                                    <p class="help-block" ng-show="(form.apptype.$error.required) && submitted">
                                        Select the one which is applicable to you.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-block bg-green label" ng-click="continueForm()"
                                    ng-if="!showNext && registrationsOpen" name="button">Continue</button>
                                <button type="button" class="btn btn-block bg-green label" ng-click="submitInterested()"
                                    ng-if="!registrationsOpen" name="button">Submit</button>
                            </div>

                            <div ng-if="user.apptype === 'student' && showNext">
                                <div class="form-group">
                                    <label for="Year" class="label" style="font-size: 1.2em;">Academic Year</label>
                                    <input class="form-control" type="number" ng-model="user.academicYear" name="Year"
                                        placeholder="Enter your current academic year" required>
                                    <p class="help-block" ng-show="(form.Year.$error.required) && submitted">
                                        This field is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="Branch" class="label" style="font-size: 1.2em;">Branch/Stream</label>
                                    <input class="form-control" type="text" ng-model="user.branch" name="Branch"
                                        placeholder="Enter your branch or stream" required>
                                    <p class="help-block" ng-show="(form.Branch.$error.required) && submitted">
                                        This field is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="Institution" class="label" style="font-size: 1.2em;">Institution</label>
                                    <input class="form-control" type="text" ng-model="user.institute" name="Institution"
                                        placeholder="Enter your institution name" required>
                                    <p class="help-block" ng-show="(form.Institution.$error.required) && submitted">
                                        This field is required.
                                    </p>
                                </div>

                                <div class="form-group">
                                    <label for="stud_q1" class="label" style="font-size: 1.2em;">What does Sports
                                        Technology mean to you?</label>
                                    <input class="form-control" type="text" ng-model="user.question1" name="stud_q1"
                                        required>
                                    <p class="help-block" ng-show="(form.stud_q1.$error.required) && submitted">
                                        This field is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="stud_q2" class="label" style="font-size: 1.2em;">Do you have any
                                        experience working in fields that can directly or indirectly be related to
                                        sports technology? If yes, please elaborate. </label>
                                    <input class="form-control" type="text" ng-model="user.question2" name="stud_q2"
                                        required>
                                    <p class="help-block" ng-show="(form.stud_q2.$error.required) && submitted">
                                        This field is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="stud_q3" class="label" style="font-size: 1.2em;">The SportsTech Summit
                                        2019 includes mainly three tracks: ‘Tech in Action’, ‘Analytics: The Numbers
                                        Game’ and ‘Brands, Leagues & Fans’. Which is your favourite track among the
                                        three? How has it changed the sporting world in the past and what improvements
                                        can be made with it’s help?</label>
                                    <input class="form-control" type="text" ng-model="user.question3" name="stud_q3"
                                        required>
                                    <p class="help-block" ng-show="(form.stud_q3.$error.required) && submitted">
                                        This field is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="stud_q4" class="label" style="font-size: 1.2em;">Why do you want to
                                        attend the SportsTech Summit 2019?</label>
                                    <input class="form-control" type="text" ng-model="user.question4" name="stud_q4"
                                        required>
                                    <p class="help-block" ng-show="(form.stud_q4.$error.required) && submitted">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                            <div ng-if="user.apptype === 'startup' && showNext">
                                <div class="form-group">
                                    <label for="startup_name" class="label" style="font-size: 1.2em;">Startup Name</label>
                                    <input class="form-control" type="text" ng-model="user.startupName" name="startup_name"
                                        placeholder="Enter the name of your startup" required>
                                    <p class="help-block" ng-show="(form.startup_name.$error.required) && submitted">
                                        This field is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="est_year" class="label" style="font-size: 1.2em;">Establishment Year</label>
                                    <input class="form-control" type="number" ng-model="user.estYear" name="est_year"
                                        placeholder="Enter the establishment year of your startup" required>
                                    <p class="help-block" ng-show="(form.est_year.$error.required) && submitted">
                                        This field is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="links" class="label" style="font-size: 1.2em;">Relevant Links
                                        (optional):</label>
                                    <input class="form-control" type="text" ng-model="user.relLinks" name="startup_links"
                                        placeholder="Enter relevant links (eg: Website, LinkedIn, etc.)">
                                </div>

                                <div class="form-group">
                                    <label for="startup_q1" class="label" style="font-size: 1.2em;">What does your
                                        startup aim to achieve? How is it related to Sports Technology?</label>
                                    <input class="form-control" type="text" ng-model="user.question1" name="startup_q1"
                                        required>
                                    <p class="help-block" ng-show="(form.startup_q1.$error.required) && submitted">
                                        This field is required.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="startup_q2" class="label" style="font-size: 1.2em;">What do you look to
                                        gain from the SportsTech Summit 2019? </label>
                                    <input class="form-control" type="text" ng-model="user.question2" name="startup_q2"
                                        required>
                                    <p class="help-block" ng-show="(form.startup_q2.$error.required) && submitted">
                                        This field is required.
                                    </p>
                                </div>
                            </div>

                            <div ng-if="user.apptype === 'professional' && showNext">
                                <div class="form-group">
                                    <label for="startup_name" class="label" style="font-size: 1.2em;">Category</label>
                                </div>
                                <div class="form-check form-group">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-3 col-sm-4 float-left">
                                            <input type="radio" class="form-check-input" ng-model="user.apptype1" value="sports_pro"
                                                name="apptype1" required>
                                            <label class="form-check-label text">Sports Technology Professional </label>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-4">
                                            <input type="radio" class="form-check-input" ng-model="user.apptype1" value="other_pro"
                                                name="apptype1" required>
                                            <label class="form-check-label text">Other Professional</label>

                                        </div>
                                        <p class="help-block" ng-show="(form.apptype1.$error.required) && submitted">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                                <div ng-if="user.apptype1 === 'sports_pro'">
                                    <div class="form-group">
                                        <label for="position" class="label" style="font-size: 1.2em;">Position</label>
                                        <input class="form-control" type="text" ng-model="user.position" name="position"
                                            placeholder="Enter your position" required>
                                        <p class="help-block" ng-show="(form.position.$error.required) && submitted">
                                            This field is required.
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="company" class="label" style="font-size: 1.2em;">Company</label>
                                        <input class="form-control" type="text" ng-model="user.company" name="company"
                                            placeholder="Enter your company" required>
                                        <p class="help-block" ng-show="(form.company.$error.required) && submitted">
                                            This field is required.
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="field" class="label" style="font-size: 1.2em;">Field of Work</label>
                                        <input class="form-control" type="text" ng-model="user.field" name="field"
                                            placeholder="Enter your field of work" required>
                                        <p class="help-block" ng-show="(form.field.$error.required) && submitted">
                                            This field is required.
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="years" class="label" style="font-size: 1.2em;">Years of Experience</label>
                                        <input class="form-control" type="number" ng-model="user.expYear" name="years"
                                            placeholder="Enter your experience (in years)" required>
                                        <p class="help-block" ng-show="(form.years.$error.required) && submitted">
                                            This field is required.
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="links" class="label" style="font-size: 1.2em;">Relevant Links
                                            (optional):</label>
                                        <input class="form-control" type="text" ng-model="user.relLinks" name="relLinks"
                                            placeholder="Enter relevant links (eg: Website, LinkedIn, etc.)">
                                    </div>
                                </div>

                                <div ng-if="user.apptype1 === 'other_pro'">
                                    <div class="form-group">
                                        <label for="position" class="label" style="font-size: 1.2em;">Position</label>
                                        <input class="form-control" type="text" ng-model="user.position" name="position"
                                            placeholder="Enter your position" required>
                                        <p class="help-block" ng-show="(form.position.$error.required) && submitted">
                                            This field is required.
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="company" class="label" style="font-size: 1.2em;">Company</label>
                                        <input class="form-control" type="text" ng-model="user.company" name="company"
                                            placeholder="Enter your company" required>
                                        <p class="help-block" ng-show="(form.company.$error.required) && submitted">
                                            This field is required.
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="industry" class="label" style="font-size: 1.2em;">Industry</label>
                                        <input class="form-control" type="text" ng-model="user.industry" name="industry"
                                            placeholder="Enter the industry you are working in" required>
                                        <p class="help-block" ng-show="(form.industry.$error.required) && submitted">
                                            This field is required.
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="years" class="label" style="font-size: 1.2em;">Years of Experience</label>
                                        <input class="form-control" type="number" ng-model="user.expYear" name="years"
                                            placeholder="Enter your experience (in years)" required>
                                        <p class="help-block" ng-show="(form.years.$error.required) && submitted">
                                            This field is required.
                                        </p>
                                    </div>

                                    <div class="form-group">
                                        <label for="pro_q1" class="label" style="font-size: 1.2em;">Do you have any
                                            experience working in fields related to Sports Technology? If yes, please
                                            elaborate.</label>
                                        <input class="form-control" type="text" ng-model="user.question1" name="pro_q1"
                                            required>
                                        <p class="help-block" ng-show="(form.pro_q1.$error.required) && submitted">
                                            This field is required.
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="pro_q2" class="label" style="font-size: 1.2em;">Can your field of
                                            work contribute to advancement in Sports Technology? If yes, please
                                            elaborate. </label>
                                        <input class="form-control" type="text" ng-model="user.question2" name="pro_q2"
                                            required>
                                        <p class="help-block" ng-show="(form.pro_q2.$error.required) && submitted">
                                            This field is required.
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="pro_q3" class="label" style="font-size: 1.2em;">Why do you want to
                                            attend the SportsTech Summit 2019?</label>
                                        <input class="form-control" type="text" ng-model="user.question3" name="pro_q3"
                                            required>
                                        <p class="help-block" ng-show="(form.pro_q3.$error.required) && submitted">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-block bg-green label" ng-if="registrationsOpen"
                                    ng-click="toggleForm()" name="button">Hide Form</button>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-block bg-green label" ng-if="showNext" name="button">Submit</button>
                                <p ng-show="!submitError && submitted" class="success">Registration complete. You will
                                    receive an email regarding your selection soon.</p>
                                <p ng-show="submitError && submitted" ng-bind="submissionStatus" class="help-block">{{submissionStatus}}</p>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>