<div class="big-logo-div">
    <h1 class="page-heading" data-aos="fade-down">THE SUMMIT</h1>
</div>
<br>
<div class="container">
    <div class="card custom-border-radius" data-aos="fade">
        <div class="card-body">
            <div class="row">
                <div class="col" data-aos="fade-right">
                    <div class="demo-square-short summit-img1" data-aos="fade-left"></div>
                    <br>
                    <p class="card-text text">Technology has had a gigantic impact on several aspects of our lives, such as healthcare, governments, education, business, and sports. The world of sports has witnessed more advancements today than ever before, resulting in better
                        analysis of performance and better output. A large variety of sports movements are now captured and analysed thanks to Sports Technology. Even fan experience is being greatly enhanced with new innovations in Sports Technology.
                        Today, we also find business decisions regarding sports being driven by Technology. With these several developments in Sports-Tech, Shaastra prepares to enable those interested in this field to take their knowledge forward and
                        soon become experts in Sports-Tech.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="card custom-border-radius" data-aos="fade">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="demo-square-short summit-img2" data-aos="fade-right"></div><br>
                    <p class="card-text text">Through the 4-day event, from January 3rd, 2019 to January 6th, 2019,the Summit will make the participants well aware of the current advancements in the field of Sports-tech and ask them to come up with innovative methods for today’s
                        sports, giving them a chance to showcase their skills. Through lectures, workshops, competitions and more, the Summit would provide its participants with an opportunity to interact with the best minds in the fields of sensor technology,
                        wearable tech, strategy and consultancy and several other topics concerning Sports Tech.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
<center>
    <h1 class="title" data-aos="fade-down">MAJOR FOCUS</h1>
</center>
<br>
<div class="container">
    <div class="card-deck" data-aos="fade">
        <div class="card custom-border-radius">
            <div class="card-body">
                <div class="demo-square-short focus1" data-aos="fade-down"></div>
                <br>
                <h5 class="card-title subtitle" data-aos="fade-left">TECH IN ACTION</h5>
            </div>
        </div>
        <div class="card custom-border-radius">
            <div class="card-body">
                <div class="demo-square-short focus3" data-aos="fade-down"></div>
                <br>
                <h5 class="card-title subtitle" data-aos="fade-left">BRANDS, LEAGUES & FANS</h5>
            </div>
        </div>
        <div class="card custom-border-radius">
            <div class="card-body">
                <div class="demo-square-short focus2" data-aos="fade-down"></div>
                <br>
                <h5 class="card-title subtitle" data-aos="fade-left">ANALYTICS</h5>
            </div>
        </div>
    </div>
</div>
<br>
<br>
