 <style>
    .card-custom-small{
      width: 300px;
      align-items: center;
    }

    body{
      background-color: #2b1950;
    }

    .head-title{
      background-color: #67d0a3 ;
    }

    .page-heading{
      font-weight: 700;
      font-size: 96px;
      text-align: center;
      color: #23103d;
    }

    .main-heading{
      font-weight: 700;
      font-size: 48px;
      color: #67d0a3;
      margin-top: 10px;

    }

    .custom-card-text{
      font-weight: 400;
      font-size: 20px;
      color: #23103d ;

    }

    .custom-border-radius{
      border-radius: 15px;
    }

    .custom-card-margin{
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .card-color-image{
      background-color: #23103d;
      height: 200px;
    }
    
  </style>
            
</head>
<body>
  <div class="head-title">
    <h1 class="page-heading">PAST EDITIONS</h1>
  </div>

<div class="container">

<div class="row">
  <div class="col-sm-12">
    <div class="card custom-border-radius">
      <div class="card-body">
        <div class="card-color-image"></div>
        <h1 class="main-heading">MAKER'S SUMMIT(2016)</h1>
        <p class="custom-card-text">Based on the worldwide trend of the Maker’s Movement, the Maker’s Summit extended this to the students to give them a platform for the same. The 4-day event which consisted of various keynote lectures, workshops, competitions, panel discussions and personal mentoring sessions from the experts in the maker’s culture, also included the ‘Make-a-thon’- an innovation competition which gave the 40 participants an experience of what it means to be a Maker innovating on tracks like Transmedia Storytelling, Life Hacks and Make-a-difference.</p>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card custom-border-radius">
      <div class="card-body">
         <div class="card-color-image"></div>
        <h1 class="main-heading">ACCESSIBILITY SUMMIT(2017)</h1>
        <p class="custom-card-text">With the intention of making India more accessible, the Accessibility Summit focussed aspects of accessibility like accessitive technology, policy measures for empowerment and social inclusion- giving its participants an opportunity to seek advice from experts of healthcare, education, business policy and technology sectors. The event included a Case-study and Social-Entrepreneurship Competition. The Accessibility Summit also hosted the first ever ‘Hackathon for the Visually Impaired’. With the motive to empower the visually impaired by giving them a chance to showcase their skills, the Accessibility Summit in collaboration with Vision-Aid, taught computer programming to 32 participants from all over India. They were also trained by professors from MIT and UC Berkeley during the process.</p>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card custom-border-radius">
      <div class="card-body">
         <div class="card-color-image"></div>
        <h1 class="main-heading">GREEN ENERGY SUMMIT(2018)</h1>
        <p class="custom-card-text">India is on the brink of an energy transformation. At the Green Energy Summit, the team set out to try and find ways to lift millions of citizens out of energy poverty, empowering motivated students to make a change in the energy sector. Through its lectures, hands-on workshops, panel discussions and competitions, the Summit covered topics such as Innovation in Green Technology, Energy Politics and Startups and Developments in Green Energy. More than 70 chosen participants from all over India attended the Summit. The Startup Talks invited startup executives and many young college students who aspired to make a difference in the field of green energy. There was also an open to all panel discussion on ‘Impact of Climate Change Policies on the Poor’.</p>
      </div>
    </div>
  </div>

</div>

</div>

<div class="head-title">
    <h1 class="page-heading">NEWSROOM</h1>
  </div>

  <div class="container">
    <div class="card-deck custom-card-margin">
      <div class="card custom-border-radius">
    
    <div class="card-body">
      <div class="card-color-image"></div>
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>

  <div class="card custom-border-radius">

    <div class="card-body">
      <div class="card-color-image"></div>
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>

</div>

<div class="card-deck custom-card-margin">
  <div class="card custom-border-radius">
    
    <div class="card-body">
      <div class="card-color-image"></div>
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>

  <div class="card custom-border-radius">
    
    <div class="card-body">
      <div class="card-color-image"></div>
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>




  </div>