<center class="d-none d-sm-block big-logo-div">
	<img src="img/summit1.png" class="big-logo">
</center>

<nav class="navbar navbar-expand-sm justify-content-center sticky-top nav-head">
	<div class="container">
		<div class="col-lg-2 d-none d-lg-block">
			<div class="justify-content-between align-items-center">
				<a class="navbar-brand" href="#">
					<img src="img/summit2.png" class="small-logo">
				</a>
			</div>
		</div>
		<div class="col-lg-8 col-md-12 col-sm-12">
			<div class="navbar-collapse collapse justify-content-between align-items-center w-100">
				<ul class="navbar-nav mx-auto text-center">
					<li class="nav-item active">
						<a href="#" ui-sref="home" class="nav-link">home</a>
					</li>
					<li class="nav-item ">
						<a href="#" ui-sref="about" class="nav-link">about</a>
					</li>
					<li class="nav-item ">
						<a href="#" ui-sref="editions" class="nav-link">editions</a>
					</li>
					<li class="nav-item ">
						<a href="#" ui-sref="registrations" class="nav-link">registrations</a>
					</li>
					<li class="nav-item ">
						<a href="#" ui-sref="contact" class="nav-link">contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-2 d-none d-lg-block">
			<div class="navbar-collapse collapse justify-content-between align-items-center w-100">
				<ul class="navbar-nav mx-auto text-center">
					<li class="nav-item">
						<a class="nav-link social" href="https://twitter.com/shaastraiitm" target="_blank">
							<span class="fab fa-twitter"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link social" href="https://facebook.com/Shaastra" target="_blank">
							<span class="fab fa-facebook-f"></span>
						</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link social" href="https://linkedin.com/company/shaastraiitmadras" target="_blank">
							<span class="fab fa-linkedin-in"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div></div>
	</div>
</nav>