.nav-link {
    font-weight: 800;
    font-variant: small-caps;
    font-size: 1.25em;
    color: #be202e;
    padding: 20px;
}

.big-logo {
	padding-top: 25px;
    width: 100%;
	height: auto;
}

.big-logo-div {
    background: #be202e;
    height: inherit;
}

.lg-nav-item {
    padding-left: 5px;
    padding-right: 5px;
}

a:hover {
    text-decoration: none;
    color: #be202e;
}

.lg-nav-item:hover {
    border-bottom: 3px solid #be202e;
}

.lg-nav-item {
    border-bottom: 3px solid #030303;
    height: 70px;
}

.fab {
    font-size: 1.25em;
	padding-right: 5px;
}

.small-logo {
    height: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.nav-head {
    height: 80px;
    background: #030303;
    box-shadow: #be202e 0px 1px 6px 1px;
}

.social {
    padding-bottom: 5px;
    padding-top: 5px;
}

.social a{
	color: #be202e;
}

.fas {
    font-size: 1.6em;
    color: #be202e;
}

#sidebarNav {
    height: 100vh;
    position: fixed;
    background: #030303;
}

.nav-pills .nav-link.nav-item {
    border-radius: 0%;
}

.sm-nav-item {
    border-bottom: 3px solid #030303;
	margin-left: 10vw;
	margin-right: 5vw
}

.sm-nav-item:hover {
    border-bottom: 3px solid #be202e;
}

.main-card {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding: 10% 0;
}

.banner{
	background: url(../img/home.png);
	background-repeat: no-repeat;
	background-size: 100vw 50vw;
	min-height: 50vw;
}


.title {
    font-weight: 900;
    color: #be202e;
    font-size: 3.75em;
}

.subtitle {
    font-size: 2.25em;
    color: #be202e;
    font-weight: 600;
}

.title2 {
    font-size: 3em;
    font-weight: 700;
    color: #be202e;
}

.text {
    font-size: 1.25em;
	text-align: justify;
    font-weight: 400;
    color: #030303;
}

.tint {
    height: inherit;
    padding: 5% 0;
    background-color: rgba(0, 0, 0, 0.55);
}

.card-custom-small {
    width: 300px;
    align-items: center;
}

body {
    padding-top: 80px;
    background-color: #101010;
    font-family: 'Ubuntu';
}

.page-heading {
    font-weight: 700;
    font-size: 4.5em;
    text-align: center;
    color: #030303;
}

.custom-border-radius {
    border-radius: 15px;
}

.demo-square-short {
    height: 300px;
    width: 100%;
    background-color: #030303;
}

.demo-square-tall {
    height: 400px;
    width: 100%;
    background: #030303;
}

.bg-purple {
    background: #101010;
}

.bg-green {
    background: #be202e;
}

.tx-green {
    color: #be202e;
}

.tx-purple {
    color: #030303;
}

.word {
    float: right;
    font-size: 4.5em;
    font-weight: 900;
}

.word-col {
    border-right: solid 4px #be202e;
}

.sentence {
    padding-top: 0.5vh;
}

.reg-div{
	min-height: 60vh;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.footer{
	min-height: 250px;
	box-shadow: #be202e 0px 1px 6px 1px;
	background: #000000;
}

.footer-text{
	font-weight: 600;
}

.footer-info{
	padding-top: 25px;
	padding-bottom: 25px;
}

.contact-img2{
	background: url(../img/Siddharth.jpg) center top;
	background-size: cover;
}

.contact-img1{
	background: url(../img/Sanjeev.jpg) right top;
	background-size: cover;
}

.contact-img3{
	background: url(../img/Varun.jpg) center top;
	background-size: cover;
}

.label{
	font-variant: small-caps;
	font-size: 1.6em;
	font-weight: bold;
}

.focus1{
	background: url(../img/focus1.jpg) left top;
	background-size: cover;
}

.focus2{
	background: url(../img/focus2.jpg) left top;
	background-size: cover;
}

.focus3{
	background: url(../img/focus3.jpg) left top;
	background-size: cover;
}

.summit-img1 {
	background: url(../img/summit-img1.jpg) center center;
	background-size: cover;
	width: 100%;
}

.summit-img2 {
	background: url(../img/summit-img2.jpg) center center;
	background-size: cover;
}

.news{
	height: 250px;
}

.maker-img{
	background: url(../img/makers.jpg) center bottom;
	background-size: cover;
}

.green-energy-img{
	background: url(../img/green-energy.jpg) center center;
	background-size: cover;
}

.accessibility-img{
	background: url(../img/accessibility.jpg) center center;
	background-size: cover;
}

.shaastra-main-img{
	background: url(../img/shaastra-main.jpg) center center;
	background-size: cover;
}

.summit-main-img{
	background: url(../img/summit-main.jpg) center center;
	background-size: cover;
}

.summit-big{
	padding-bottom: 25px;
	padding-top: 40px;
}

.sponsor{
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
}
